!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{:content => "width=device-width", :name => "viewport"}

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb

    %title= (data.page.title || "talkMountains") + " | talkMountains"
    / Included CSS Files
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"


  %body.body-default

    = partial "layouts/header"
    = yield
    = partial "layouts/footer"

    -# Application Javascript, safe to override
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    = javascript_include_tag "all"

    -# Google Analytics
    :javascript

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29678485-1', 'auto');
      ga('send', 'pageview');
